<section id="contact" class="pardot-form-modal">
    {{ contact_form.media }}
    <form method="post">
        {% csrf_token %}
        {% for field in contact_form %}
            {% if field.name != 'pardot_extra_field' %}
                <div class="mb-1">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field.as_widget }}
                    {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% else %}
                {# Honeypot field - hidden #}
                {{ field.as_hidden }}
            {% endif %}
        {% endfor %}
        <div class="text-center">
            <button type="submit" class="btn btn-secondary text-uppercase my-3 p-3">Contact us</button>
        </div>
    </form>
</section>
